.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.modal__content {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.close {
  width: 80%;
  height: 35px;
  font-size: 30px;
  border-radius: 6px;
  background-color: rgb(143, 143, 237);
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(213, 49, 49);
}

.window__span-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  letter-spacing: 3px;
  margin-top: 50px;
}

.window__title {
  margin-top: 50px;
}

.window__text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.window__span {
  font-size: 18px;
  font-weight: 800;
}
